version: 2
updates:
- package-ecosystem: "uv"
  directory: "/"
  schedule:
    interval: "weekly"
  groups:
    uv-packages:
      patterns: ["*"]

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
  groups:
    github-actions:
      patterns: ["*"]
